<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'mainpage.css' %}"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Profile</title>
</head>
<body>





    <header>

        <div class="user">
            <p class="logo">MoodVue</p>
            <!-- <img src="{% static 'user.webp' %}" alt="Profile Photo" class="pic"> -->
            <img src="templates/pic.jpeg" alt="Profile Photo" class="pic">
            <p class="name">{{name}}</p>
            <!-- <p class="name">Rebba</p> -->
        </div>
    
        <nav class="navbar">
            <br>
            <hr>
            <ul>
                <li><a href="/profilec">Dashboard</a></li>
                <!-- <li><a href="/collabsocial">Collaborate</a></li> -->
                <li><a href="#explore">Explore</a></li>
                <!-- <li><a href="#community">Community</a></li> -->
                <!-- <li><a href="#chat">Chat</a></li> -->
                <!-- <li><a href="/blog">Blog</a></li> -->
                <li><a href="#settings" id="settings">Settings</a></li>
                <br><br>
                <li><a href="/logout" id="logout">Logout</a></li>

                
            </ul>
        </nav>
    
    </header>

    <section class="dashboard" id="dashboard">

        <div class="top-navbar">
            <h3>Hello {{name}}</h3>
            <!-- <h3>Hello Rebba</h3> -->
        </div>
        
    </section>
    
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body{
    background: #F4F0F9;
    font-family: 'Roboto';
    overflow-x: hidden;
    /* padding-left: rem; */
}
header{
    position: fixed;
    top: 0; left:0;
    z-index: 1000;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 269px;

background: #2D5086;
}

header .user .logo{
    position: fixed;
width: 174px;
height: 44px;
left: 48px;
top: 19px;
margin: 0;
font-family: 'Iceberg';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 44px;
text-align: center;

color: #F4F0F9;

}
header .user .pic{
    /* height:8rem;
    width:8rem;
    border-radius: 50%; */
    /* object-fit: cover; */
    margin: 0;
    /* position: fixed; */
width: 120px;
height: 120px;
left: calc(50% - 120px/2 - 585px);
bottom: 794px;
border-radius: 50%;

}
header .user .name{
    margin: 0.8rem 0;
    font-size: 1.2rem;
    padding: 0;
    color: #F4F0F9;
}


header .navbar{
    /* margin-top: 2rem; */
    width:100%;
}

header .navbar ul{
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    list-style: none;
    /* padding:1rem rem; */
    margin: 2rem;
    height: 100%;
}


header .navbar ul li{
    /* display: block;
    /* margin:0.2rem ; */
    /* padding:0.6rem; */
    /* background:rgb(91, 101, 104); */
    /* color: #F4F0F9; */
    font-size: 16px;
    
    border-radius: 0.5rem;
    margin: 2rem;
    /* position: absolute; */
/* width: 186px;
height: 55px;
left: 83px;
top: 364px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;

color: #2D5086; */
}
header .navbar ul li a{
    color: #F4F0F9;
    text-decoration: none;
    /* position: absolute; */

/* left: 26px; */
/* top: 364px; */
}
header .navbar ul li:hover{
    /* background:  #F4F0F9; */
    /* color:  #2D5086;
    font-weight: bold;
    width: 274px;
    height: 40px;
    padding: 0; */
}
#logout{
    /* margin-top: 4rem; */
    margin-bottom: -3.5rem;
}
section{
    /* min-height: 100vh; */
    padding:1rem;
}
/* .dashboard{
    display: flex;
    justify-content: center;
} */
/* .top-navbar{
    display: flex;
    width: 70%;
} */
h3{
    position: absolute;
    top: 0.7rem;
    left: 24rem;
    font-size: 24px;
    padding: 0rem 2rem;
    /* margin: 1rem 8rem; */
}
.form-input{
    position: absolute;
    top: 2rem;
    left: 48rem;
   height: 3em;
   width: 15rem;
   /* margin-left: 3rem; */
   border-radius: 5rem;
   border:  #5A4C71;
   padding: 0rem 1rem;
}
.img 
.top-navbar .btn{
    position: absolute;
    top: 2rem;
    left: 63rem;
    height: 3em;
    width: 3rem;
    background-color: white;
    /* margin-left: -2.4rem; */
    border: none;
    border-radius: 5rem;
}
.bellbtn{
    position: absolute;
    top: 1.6rem;
    left: 72rem;
    height: 3.8em;
    width: 3.4rem;
    /* margin-left: 8rem; */
    border: none;
    background-color: white;
    border-radius: 5rem;
    cursor: pointer;
}
.bellbtn:hover{
    background-color: #5A4C71;
    color: white;
}
.bellbtn i{
    scale: 1.4;
}
.dropdown{
    width: 1%;
    padding: 0rem 1rem;
    margin: 0.5rem 2rem;
   
}
/* .dropdown .btn{
    background-color: white;
    border: none;
} */
.dropdown{
    position: absolute;
    color: black;
    /* scale: 1.4; */
    top: 1.2rem;
    right: 4rem;
    height: 3em;
    width: 4.8rem;
    border: none;
    background-color: white;
    border-radius: 5rem;
    cursor: pointer;
}
.dropdown a{
    position: absolute;
    top: 0.85rem;
    right: 1.2rem;
    text-decoration: none;
    /* scale: 1.2; */
}
.dropdown:hover{
    background-color: #d9d9d9;
}
.dropdown i{
    margin-left: 0.8rem;
}
/* .dropdown:hover{
    background-color: #5A4C71;
    color: white;
} */
/* .dropdown .btn:hover{
    background-color: white;
    border: none;
} */
.dropdown-menu{
    background-color: red;
    display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2e21bc;
  border: 1px solid #ccc;
  z-index: 1;
}
.dropdown-menu li {
    color: #5A4C71;
    display: block;
  }
  
  /* .dropdown:hover .dropdown-menu {
    display: block;
    color: #5A4C71;
  }
   */

</style>
</body>
</html>